[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-cov = "*"

[packages]
jupyter = "*"
pylint = "*"
pandas = "*"
xlrd = "*"
tabulate = "*"
pivottablejs = "*"
qgrid = "*"
pandas-profiling = "*"
contractions = "*"
beautifulsoup4 = "*"
numpy = "*"
matplotlib = "*"
seaborn = "*"
spacy = "*"
nltk = "*"
pymongo = "*"
keras_preprocessing = "*"
keras = "*"
tensorflow = "*"
spacy_langdetect = "*"
pycountry = "*"
textblob = "*"
openpyxl = "*"

[requires]
python_version = "3.7"
